.Encabezado{
    background:rgba(123, 98, 0, 0.5);
    border: 5px solid transparent;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;

}

.wrapper{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}

.logo{
    color: #fff;
    font-size: 50px;
    font-family: Berlin Sans FB;
    line-height: 70px;
    float: left;
}

nav{
    line-height: 70px;
    float: right;  
}

nav a {
color: #fff;
display: inline-block;
text-decoration: none;
font-family: Arial Narrow;
font-weight: bold;
padding: 20px 10px;
line-height: normal;
font-size: 16px;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

nav a:hover{
    color: #33cccc;
    border-bottom: 5px solid #33cccc;
}







