body{
    background-image: url(https://cdn.wallpapersafari.com/20/19/HGF3XI.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

p{
    font-family: berlin sans fb;
    font-weight: 100;
    font-weight: normal;
    
}