body{
    background-image: url(https://wallpaperaccess.com/full/106822.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

center{
    font-family: berlin sans fb;
    font-weight: 100;
    font-weight: normal;
      
}